# macOS
.DS_Store

# Environment files / secrets
.env
.venv/

# Python
__pycache__/
*.pyc

# dbt local user id
dbt/.user.yml

# Airflow local runtime files
airflow/airflow.cfg
airflow/airflow.db*
airflow/logs/
airflow/simple_auth_manager_passwords.json.generated

# dbt generated artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/
